.rp {
    width: 28%;
    margin: 5rem auto;

}

.rp-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 1rem;

    border: 1px solid var(--color-grey-300);
    border-radius: 8px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);
}

.rp-card__title {
    letter-spacing: 0.1px;

    margin-bottom: 0.75rem;
    font-size: var(--fs-650);
    font-weight: 500;
    color:var(--color-primary-300);
}

.rp-card span {
    margin-bottom: 2rem;

    font-size: var(--fs-400);
    font-weight: 500;
    color:var(--color-heading-shade);
}

.rp-card .form-control {
    border: 1px solid var(--color-grey-300);
    border-radius: 4px;
    width: 100%;
    font-size: var(--fs-500);
    height: 35px;
    padding: 10px;
}

.rp-card__input-group {
    margin-bottom: 1rem;
}

.rp-card .submit-button {
    text-align: center;
    padding: 9px;
    border-radius: 10px;
    width: 100%;

    font-size: var(--fs-400);
    font-weight: 500;
    letter-spacing: 0.2px;
    background-color: var(--color-accent);
    cursor: pointer;
}