.description .container,
.reviews .container {
    padding: 20px;
    border: 1px solid var(--color-grey-300);
    border-radius: 8px;
    background-color: white;
}

.reviews .header {
    margin-bottom: 1rem;
}

.total-rating {
    display:flex;
    align-items: center;
    gap: 10px;

    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-grey-300);
}

.total-ratins__text {
    margin-right: auto;
}
.create-review-link {
    font-size: var(--fs-400);
    font-weight: 500;
    color: var(--color-heading-shade);
    text-decoration: underline;
    cursor: pointer;
}