@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@500;600;700&display=swap');

/* 
    BANNERS
------------------
*/
.banners {
    padding-block: 80px;
}
.banners .container {
    width: 80%;
    margin: auto;
}

.main-banner {
    width: 60%;
    position: relative;
}
.main-banner .main-banner__img{
    width: 100%;
    border-radius: 6px;
}
.main-banner__content {
    position: absolute;
    top: 20%;
    left: 10%;

    color: var(--color-primary-300);
}
.main-banner__content .secondary-title {
    color: var(--color-orange);
    letter-spacing: 0.2px;
}
.main-banner__content .main-title {
    font-family: "Rosario", sans-serif;
    font-weight: 700;
    font-size: var(--fs-800);

    padding-block: 20px;
}
.main-banner__content .desc {
    padding-bottom: 20px;
    line-height: 1.5;
}
.main-banner__content .button:hover{
    color: var(--color-primary-300);
    background-color: var(--color-accent);
}


/* 
    SERVICES
------------------
*/

.services {
    background-color: var(--color-grey-200);
}

.services .container {
    display:flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-block: 32px;
}

.service {
    display: flex;
    align-items: center;
    gap: 14px;

    line-height: 1.8;
}
.service__img {
    width: 42px;
}

.services__title {
    font-weight: 500;
}
.services__text {
    font-size: var(--fs-400);
    opacity: 70%;
}

/* 
    CATEGORIES
-------------------
*/
.categories {
    background-color: var(--color-grey-200);
    padding-bottom: 32px;
}
/* .categories {
    padding-top: 250px;
    background-image: linear-gradient(to top, #eef0f1, transparent), url(/public/assets/images/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */
.categories .container {
    display:flex;
    width: 90%;
    margin: auto;
    gap:22px;
}
.category {
    width: calc((100% - (4*22px)) / 5);
    padding: 20px;
    background-color: var(--color-white);
}
.category .text-contain {
    margin-bottom: 20px;
    color: var(--color-primary-300);
}
.category__title {
    font-size: var(--fs-550); 
    font-weight: 600;

    margin-bottom: 8px;
}
.category .img__wrapper {
    width: 100%;
}
.category__img {
    width: 100%;
}

/* 
    FEATURED COLLECTION
-----------------------------
*/
.featured-collection {
    background-color: var(--color-grey-200);
}
.featured-collection .container {
    width:90%;
    margin: auto;
    padding: 20px;

    background-color: var(--color-white);
}
.featured-collection__title {
    font-size: var(--fs-550);
    font-weight: 600;
    color: var(--color-primary-300);

    margin-bottom:20px;
}
.products__wrapper {
    display: flex;
    gap: 20px;
}
.product-card__image {
    width:100%;
}