/*
    HEADER-TOP
-------------------
*/

.header-top {
    background-color: var(--color-primary-400);
    font-size: var(--fs-300);
}

.header-top__wrapper {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

.header-top__title {
    font-size: var(--fs-700);
}

.header-top__title--link {
    color: var(--color-white);
}

.header-top__links {
    display: flex;
    gap: 2.5rem;
}

.header-top__link {
    display: inline-block;
}

.header-top__link--img {
    height: 32px;
    width: 32px;
}

.header-top__link--text {
    display: inline-block;
    max-height: 36px;
    line-height: 1.6;
    margin-left: 12px;

    color: var(--color-white);
}

.header-top__link--text--zero {
    padding-inline: 8px;
    border-radius: 6px;

    color: var(--color-black);
    background-color: var(--color-white);
}

/* 
    HEADER-BOTTOM
-------------------------
*/

.header-bottom {
    background-color: var(--color-primary-300);
    font-size: var(--fs-400);
}

.header-bottom__wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-block: 6px;
    gap: 1.5rem;
}

.dropdown {
    position: relative;
    border-right: 1px solid var(--color-primary-100);
}

.dropdown__button {
    color: var(--color-white);
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    padding: 4px 64px 4px 0px;
}

.dropdown__icon {
    position: absolute;
    top: 25%;
    right: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.dropdown__menu {
    position: absolute;
    width: 100%;
    top: calc(100% + 6px);
    left: 0;

    background-color: var(--color-white);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid var(--color-grey-light);
    border-left: 1px solid var(--color-grey-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown__link {
    padding: 6px;
    border-bottom: 1px solid var(--color-grey-light);
    cursor: pointer;
}

.dropdown__link:hover {
    background-color: #f0f0f0;
}
.dropdown__link a {
    color: var(--color-black)
}

.header-bottom__links {
    display: flex;
    gap: 1.5rem;
}

.header-bottom__link {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
