/*
    HEADER-TOP
-------------------
*/

.header-top {
    background-color: var(--color-primary-400);
    font-size: var(--fs-300);
}
.header-top__wrapper {
    width:95%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-block: 7px;
}
.header-top__title  a{
    padding: 6px 7px 4px 5px;
    font-size: var(--fs-700);
    font-weight: 500;
    display: block;
    color: var(--color-white);
}
.header-top__title a:hover {
    padding: 5px 6px 3px 4px;
    border: 1px solid var(--color-white);
    border-radius: 2px;
}

.header-top__search--img {
    width: 20px;
}
.header-top__search .input-button:hover {
    background-color: #f7a132;
}
.header-top__title--link {
    color: var(--color-white);
}

.header-top__links {
    display: flex;
    gap: 0.2rem;
}
.header-top__links li:nth-of-type(4) .header-top__link {
    width: 98px;
}

.header-top__link {
    display: flex;
    align-items: center;
    
    padding: 6px 7px 6px;
}
.header-top__link:hover {
    padding: 5px 6px 5px;
    border: 1px solid var(--color-white);
    border-radius: 2px;
}

.header-top__link--img {
    height: 32px;
    width: 32px;
}

.header-top__link--text {
    max-height: 36px;
    line-height: 1.6;
    margin-left: 12px;

    color: var(--color-white);
}


.header-top__link--text--zero {
    padding-inline: 8px;
    border-radius: 6px;

    color: var(--color-black);
    background-color: var(--color-white);
}

/* 
    HEADER-BOTTOM
-------------------------
*/

.header-bottom {
    background-color: var(--color-primary-300);
    font-size: var(--fs-400);
}

.header-bottom__wrapper {
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    /* padding-block: 6px; */
    gap: 1.5rem;
}

.header-bottom__links {
    display: flex;
    gap: 0.1rem;
}
.header-bottom__links li a{
    padding: 11px 10px;
    display: block;
}
.header-bottom__links li:hover a{
    padding: 10px 9px;
    border: 1px solid var(--color-white);
    border-radius:2px;
}

.header-bottom__link {
    color: white;
    letter-spacing: 0.4px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
}


.header-top__search--input:focus {
    border: 1px solid var(--color-orange);
    outline: none;
}